<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calculating</title>
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-custom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/prototype.js"></script>
    <script src="../static/partial.js"></script>
  </head>

  <body onload="header();footer();">
    <div id="header"></div>
    <div class="text-center">
      <h2>Calculating<h2><br>
      <div id="loading">
        <img src="../static/grgr.gif" alt="guruguru">
      </div>
    </div>
    <div id="footer"></div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../static/waiting.js"></script>
  </body>
</html>
